<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07A34FCB-5ED6-4D39-A13D-ED49E9AB64A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>526CBCE6-EA0B-48E0-AC81-2C9A6C4CB230</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>An example for Alfred Workflow Package Manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hello Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hello</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>07A34FCB-5ED6-4D39-A13D-ED49E9AB64A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Hello Workflow!</string>
				<key>title</key>
				<string>Test</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>526CBCE6-EA0B-48E0-AC81-2C9A6C4CB230</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07A34FCB-5ED6-4D39-A13D-ED49E9AB64A9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>526CBCE6-EA0B-48E0-AC81-2C9A6C4CB230</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
